section {
  /*margin: 3rem 0;*/
  margin: unset;
}

h2::after{
  background-color: var(--mainCapacidadesLineaSubH2);
}

.capacidades-detalladas {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem 0;
}

/* Cada bloque con línea al final */
.capacidades-detalladas .bloque-capacidades {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding-top: 4rem; /* cambia de padding-bottom */
}

/* Línea horizontal al inicio del bloque */
.bloque-capacidades::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--ensayosNumeroLineaColor);
  z-index: -10;
}

/* Número centrado justo encima de la línea */
.bloque-capacidades .numero {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -53%);
  font-size: 4rem;
  font-weight: bold;
  color: var(--ensayosNumeroLineaColor);
  background-color: black;
  padding: 0 1rem;
  z-index: 0;
  pointer-events: none;
}

/* Imagen */
.bloque-capacidades img {
  width: 45%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

/* Texto */
.bloque-capacidades .texto h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--menuTextoHover);
}

.bloque-capacidades .texto {
  color: white;
  font-size: 1.1rem;
  line-height: 1.5;
  max-width: 45%;
}

.contenedor-bloques {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}

.texto span {
  display: block;
}

.texto.izquierda {
  text-align: left;
}

.texto.derecha {
  text-align: right;
}
.contenedor-bloques2{
  display: flex;
  background-color: var(--mainEnsayosTextoIconos);
  width: 93%;
  margin: 3rem 0;
  padding: 1rem;
  border-radius: 10px;
  gap: 2rem;
}

.imagenes-bloque2 {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.imagenes-bloque2 img {
  max-width: fit-content;
  /*width: 32vw;*/
  /*height: 32vw;*/
  object-fit: cover;
}

.imagenes-bloque2.amplificadores img{
  width: 100%;
}

#listadoEquipo::before{
  content: unset;
}

.contenedor-bloques2.listadoEquipo{
  width: unset;
}

.texto.listadoEquipo{
  width: 100%;
  max-width: unset;
}

.imagenes-bloque2.listadoEquipo{
  width: unset;
}

.imagenes-bloque2.listadoEquipo img{
  width: 100%;
  height: fit-content;
}

.izquierda, .derecha{
  transform: none;
}

.tabla-original.anecoica {
  width: unset;
}

.dos-filas {
  flex-direction: column; /* Apila los hijos verticalmente */
  gap: 4rem;
}

.contenedor-fila1,
.contenedor-fila2 {
 display: flex;
 gap: 0.5rem;
}

.dos-filas .texto {
 max-width: unset;
}

.contenedor-fila2 .texto.izquierda,
.contenedor-fila2 .texto.derecha {
 width: 45%;
}
